body {
	background-color: aqua;
	border: solid purple;
	margin-left: 25%;
	width: 48.5%;
}
div {
	
	background-color: white;
	margin-top: 10px;
	border: 2px solid pink;
	margin-bottom: 10px;
	width: 900px;
	margin-left: 10px;
	border-radius: 2px;

}
.d1 {
	border-radius: 2px;
	border-radius: 2px solid pink;
	width: 740px;
	height: 300px;
}
.d2 {
	border-radius: 2px;
	border-radius: 2px solid pink;
	height: 300px;
	width: 740px;
}
.d3 {
	border-radius: 2px;
	border-radius: 2px solid pink;
	height: 300px;
	width: 740px;
}
.d4 {
	border-radius: 2px;
	border-radius: 2px solid pink;
	height: 300px;
	width: 740px;
}
p {
	float: left;
	margin-bottom: 20px;
	margin-left: 10px;
}
.p1 {
	float: left;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: bold;
}
.p2 {
	float: left;
	margin-bottom: 20px;
	margin-left: 167px;
	font-weight: bold;
}
img {
	float: right;
	margin-left: 200px;
}