.bloc1{
	background-color: skyblue;
	height: 50px;
	width: 96%;
	font-size: xx-large;
	float: left;
	text-align: center;
	color: white;
	margin-bottom: 30px;
	margin-left: 2%; 
	border-style: solid; 
	border-radius: 5px
}
.bloc2 {
	background-color: #D14A4C;
	width: 30%;
	float: left;
	text-align: center;
	color: white; 
	margin-right: 3%; 
	margin-left: 2%; 
	border-style: solid;
	clear: both;
	border-radius: 5px
}
.bloc3{
	background-color: #D14A4C;
	height: 300px;
	width: 30%;
	float: left;
	font size: large; text-align: center;
	color: white;
	border-style: solid; 
	margin-right: 4%; 
	margin-left: 1%; 
	margin-bottom: 15px; 
	border-radius: 5px
}
.bloc4 {
	background-color: #D14A4C;
	height: 300px;
	width: 400px;
	float: left;
	border-style: solid; 
	text-align: center;
	color: white; 
	margin-right: 0px; 
	margin-bottom: 15px; 
	border-radius: 5px
}
.bloc5{
	background-color: skyblue;
	height: 50px;
	width: 96%;
	font-size: xx-large;
	float: left;
	text-align: center;
	color: white;
	margin-bottom: 30px;
	margin-left: 2%; 
	border-style: solid; 
	border-radius: 5px
}
.titre{
	text-align: center;
	height: 10%; 
	width: 100%;
    color: skyblue;
	font-size: x-large; 
	border-style: solid; 
	border-radius: 5px