body
{
	background-color: black;
	text-align: center;
}
h1
{
	color: red;
	font-family: verdana;
	font size: 2em;
	margin-bottom: 2%;
	margin-top: 5%;
}
input
{
	border-radius: 35px;
	border: 2px solid red;
	background-color: black;
	width: 80%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 10%;
	padding: 3%;
	color: red;
}
div
{
	border: 2px solid red;
	border-radius: 26px;
	width: 25%;
	margin-left:33%;
	margin-right:35%;
	padding: 2%;
}
button
{
	border: 2px solid black;
	border-radius: 26px;
	text-align: center;
	padding:15px 32px;
	background-color: red;
	width: 200px;
	margin-top: 5px;
	
}
button:hover
{
	background-color: black;
	color: red;
	border: 2px solid;
	border-color: red
}
